body {
	background-color: white;
	font-family: Georgia, serif;
	font-size: 1em;
	margin: auto;
}

a {
	text-decoration: none;
}

.core {
	background-color: white;
}
/*NAVBAR*/
.nav ul {
    display: none;
}

.breadcrumb {
	display: none;
}

#logo_img {
	display: none;
}

.userNav {
    display: none;
}

/*REPORT*/
#backButton {
	display: none;
}

#printButton {
	display: none;
}

#uploadedFile {
	display: block;
	margin: 1em auto;
	max-width: 640px;
	max-height: 320px;
}

#reportDesc {
    font-style: italic;
    font-weight: 600;
}

/*FOOTER*/
.footer {
	display: none;
}